name: Test

on:
  push:
    branches-ignore:
      - main

jobs:
  format-check:
    runs-on: ubuntu-latest
    name: Check source code formatting
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - run: ./gradlew :sdk:checkFormat :examples:checkFormat --continue

  test:
    runs-on: ubuntu-latest
    name: Java ${{ matrix.Java }}
    strategy:
      matrix:
        java: [ '11', '17', '21' ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '${{ matrix.java }}'
        # includes execution of unit tests
      - run: ./gradlew build
